* {
  box-sizing: border-box;
}

header {
  float: left;
  background-color: #4aaaa5;
  color: #ffffff;
  height: 100%;
  width: 250px;
  margin-left: 250px;
  border-bottom: none;
  margin-bottom: 0;
  padding-top: 20px;
  vertical-align: middle;
}

nav {
  width: 250px;
  float: right;
  text-align: center;
  margin-right: 125px;
}

main {
    width: 960px;
    margin: 0 auto;
}